.rotate-8 {
	-ms-transform: rotate(-8deg)!important; 
	-webkit-transform: rotate(-8deg)!important; 
	transform: rotate(-8deg)!important;
}
.rotate-7 {
	-ms-transform: rotate(-7deg)!important; 
	-webkit-transform: rotate(-7deg)!important; 
	transform: rotate(-7deg)!important;
}
.rotate-6 {
	-ms-transform: rotate(-6deg)!important; 
	-webkit-transform: rotate(-6deg)!important; 
	transform: rotate(-6deg)!important;
}
.rotate-5 {
	-ms-transform: rotate(-5deg)!important; 
	-webkit-transform: rotate(-5deg)!important; 
	transform: rotate(-5deg)!important;
}
.rotate-4 {
	-ms-transform: rotate(-4deg)!important; 
	-webkit-transform: rotate(-4deg)!important; 
	transform: rotate(-4deg)!important;
}
.rotate-3 {
	-ms-transform: rotate(-3deg)!important; 
	-webkit-transform: rotate(-3deg)!important; 
	transform: rotate(-3deg)!important;
}
.rotate-2 {
	-ms-transform: rotate(-2deg)!important; 
	-webkit-transform: rotate(-2deg)!important; 
	transform: rotate(-2deg)!important;
}
.rotate-1 {
	-ms-transform: rotate(-1deg)!important; 
	-webkit-transform: rotate(-1deg)!important; 
	transform: rotate(-1deg)!important;
}
.rotate1 {
	-ms-transform: rotate(1deg)!important; 
	-webkit-transform: rotate(1deg)!important; 
	transform: rotate(1deg)!important;
}
.rotate2 {
	-ms-transform: rotate(2deg)!important; 
	-webkit-transform: rotate(2deg)!important; 
	transform: rotate(2deg)!important;
}
.rotate3 {
	-ms-transform: rotate(3deg)!important; 
	-webkit-transform: rotate(3deg)!important; 
	transform: rotate(3deg)!important;
}
.rotate4 {
	-ms-transform: rotate(4deg)!important; 
	-webkit-transform: rotate(4deg)!important; 
	transform: rotate(4deg)!important;
}
.rotate5 {
	-ms-transform: rotate(5deg)!important; 
	-webkit-transform: rotate(5deg)!important; 
	transform: rotate(5deg)!important;
}
.rotate6 {
	-ms-transform: rotate(6deg)!important; 
	-webkit-transform: rotate(6deg)!important; 
	transform: rotate(6deg)!important;
}
.rotate8 {
	-ms-transform: rotate(8deg)!important; 
	-webkit-transform: rotate(8deg)!important; 
	transform: rotate(8deg)!important;
}
.rotate7 {
	-ms-transform: rotate(7deg)!important; 
	-webkit-transform: rotate(7deg)!important; 
	transform: rotate(7deg)!important;
}
.height80 {
	margin-top: 80px!important;
}
.height120 {
	margin-top: 120px!important;
}
.height160 {
	margin-top: 160px!important;
}
.height200 {
	margin-top: 200px!important;
}
.height240 {
	margin-top: 240px!important;
}
.height280 {
	margin-top: 280px!important;
}
.height320 {
	margin-top: 320px!important;
}

