.info-box {
    background-color: #fff;
    padding: 15px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.025);
}
.info-box:hover {
  box-shadow: 4px 4px 2px rgba(0,0,0,.05);
}
.info-box:hover .fa-inverse {
  color: #3d7fb9;
}
@media(max-width: 767px) {
  .info-box {
    margin-bottom: 15px
  }
}
@media(max-width: 950px) {
  .content_box_row {
    width: 100%!important;
  }
}