<!DOCTYPE html>
		{{ partial "head.html" . }}
		<meta name="description" content="Discover the single best option for education Internet services with Exa Education, an independent, education-focused ISP providing everything from advanced Internet connectivity to in-house content filtering, VoIP and more.">
		<title>Welcome to Exa Education - Effective Internet services for schools and academies</title>
	</head>
	<body id="page-top">
		{{ partial "nav.html" . }}
 			<div id="bootstrap-touch-slider" class="carousel bs-slider fade title control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="false" >
	      <div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="/images/sliders/frontschool.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
						<div class="bs-slider-overlay"></div>
						<div class="container">
							<div class="row">
								<div class="slide-text slide_style_left">
								<h1 data-animation="animated zoomInRight" style="">Welcome to Exa Education</h1>
								<p data-animation="animated fadeInLeft">Award-winning Internet services for schools and academies</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<img src="/images/sliders/connectivity.png" alt="Bootstrap Touch Slider"  class="slide-image"/>
						<div class="bs-slider-overlay"></div>
						<div class="slide-text slide_style_center">
							<h1 data-animation="animated flipInX">Internet Connectivity Options</h1>
							<p data-animation="animated lightSpeedIn">A full range of effective, reliable Internet connectivity options</p>
							<a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">View</a>
						</div>
					</div>
					<div class="item">
						<img src="/images/sliders/voip.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
						<div class="bs-slider-overlay"></div>
						<div class="slide-text slide_style_center">
							<h1 data-animation="animated flipInX">ExaVoice VoIP</h1>
							<p data-animation="animated lightSpeedIn">Introducing completely customisable VoIP packages with ExaVoice</p>
							<a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">View</a>
						</div>
					</div>
					<div class="item">
						<img src="/images/sliders/contact.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
						<div class="bs-slider-overlay"></div>
						<div class="slide-text slide_style_right">
							<h1 data-animation="animated zoomInLeft" style="">Get in touch</h1>
							<p data-animation="animated fadeInRight">Take a look around and get in touch if there's anything we can help you with.</p>
							<a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">select one</a>
						</div>
					</div>
				</div>
	      <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
	      	<span class="fa fa-angle-left" aria-hidden="true"></span>
	      	<span class="sr-only">Previous</span>
	      </a>
	      <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
	      	<span class="fa fa-angle-right" aria-hidden="true"></span>
	      	<span class="sr-only">Next</span>
	      </a>
      </div>
      <div class="breaker_one_top">
				<img src="/images/end-top-transition-top.png">
			</div>
			<div class="breaker_one_middle"></div>
			<div class="breaker_one_bottom">
				<img src="/images/end-top-transition-white.png">
			</div>
      <div class="breaker_two">
				<div class="container" style="">
					<div class="col-md-10 col-md-push-1 col-xs-12 aos-item" >
						<div class="col-lg-12" data-aos="zoom-in" data-aos-offset="100" data-aos-delay="100" data-aos-duration="1500">
							<div class="col-lg-12 conbox">
								<h2>Welcome to Exa Education</h2>
								<p>We're a leading independent Internet Service Provider for schools and academies across the UK, providing a full range of advanced Internet services to thousands of learning institutions. Since 2003, we've worked to offer schools market-leading, completely flexible service packages designed to improve performance, while often significantly cutting costs for our customers. </p>
								<p>As an independent ISP, we're able to offer a huge range of services for our customers, creating completely bespoke Internet service packages including everything from effective Internet connectivity to content filtering, VoIP and far more. With every school having different service requirements, get in touch with our team to discuss your requirements at <b>0345 145 1234</b> or via the contact form below.</p>
							</div>
						</div>
					</div>
				</div>
				<img src="/images/end-top-transition2-top.png">
			</div>
			<div class="breaker_two_middle"></div>
    	<div class="breaker_two_bottom">
				<img src="/images/end-top-transition2.png">
			</div>
      <div class="screen-holder">
				<div class="screen"></div>
	      <section class="board" style="background-image: url(/images/foundation.jpg);">
	        <div class="col-xs-12 col-lg-8 col-lg-push-2 aos-item">
						<div class="col-xs-12 col-sm-6 col-md-4" data-aos="fade-right" data-aos-offset="250" data-aos-delay="100" data-aos-duration="1000">
							<div class="menu-block temp tanner">
								<img src="/images/icons/connectivity.png">
								<div class="desk">
									<div class="vcenter">
										<h2 class="title_header">Connectivity</h2>
										<div class="time">Ultrafast, completely reliable Internet connectivity options for education, at a budget-friendly price point.</div>
									</div>
								</div>
								<a href="/services/connectivity/" class="arrow-btn theme-bg"><span class="btn-content">Advanced Internet Connectivity</span> <span class="btn-icon"><i class="fa fa-angle-right"></i></span></a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4" data-aos="fade-right" data-aos-offset="250" data-aos-delay="100" data-aos-duration="1000">
							<div class="menu-block temp tanner">
								<img src="/images/icons/filter.png">
								<div class="desk">
									<div class="vcenter">
										<h2 class="title_header">Content Filtering</h2>
										<div class="time">Keep students safe with our in-house developed, completely customisable SurfProtect Quantum content filtering.</div>
									</div>
								</div>
								<a href="/services/content-filtering" class="arrow-btn theme-bg"><span class="btn-content">SurfProtect Content Filtering</span> <span class="btn-icon"><i class="fa fa-angle-right"></i></span></a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4" data-aos="fade-right" data-aos-offset="250" data-aos-delay="100" data-aos-duration="1000">
							<div class="menu-block temp tanner">
								<img src="/images/icons/security.png">
								<div class="desk">
									<div class="vcenter">
											<h2 class="title_header">Online Security</h2>
										<div class="time">Fantastic options for digital security in school, including FortiGate firewalls and NetSupport DNA safeguarding.</div>
									</div>
								</div>
								<a href="/services/security/" class="arrow-btn theme-bg"><span class="btn-content">Cybersecurity Options</span> <span class="btn-icon"><i class="fa fa-angle-right"></i></span></a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4" data-aos="fade-right" data-aos-offset="250" data-aos-delay="100" data-aos-duration="1000">
							<div class="menu-block temp tanner">
								<img src="/images/icons/exavoice.png">
								<div class="desk">
									<div class="vcenter">
										<h2 class="title_header">ExaVoice VoIP</h2>
										<div class="time">Creating completely customisable VoIP packages for schools with low-cost, high-performance VoIP from Exa.</div>
									</div>
								</div>
								<a href="/services/exavoice-voip/" class="arrow-btn theme-bg"><span class="btn-content">ExaVoice VoIP</span> <span class="btn-icon"><i class="fa fa-angle-right"></i></span></a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4" data-aos="fade-right" data-aos-offset="250" data-aos-delay="100" data-aos-duration="1000">
							<div class="menu-block temp tanner">
								<img src="/images/icons/networking.png">
								<div class="desk">
									<div class="vcenter">
										<h2 class="title_header">Networking</h2>
										<div class="time">Discover bespoke WAN/ VPN options for schools and academies, linking locations and securely sharing data.</div>
									</div>
								</div>
								<a href="/services/networking/" class="arrow-btn theme-bg"><span class="btn-content">Wide Area Networking</span> <span class="btn-icon"><i class="fa fa-angle-right"></i></span></a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4" data-aos="fade-right" data-aos-offset="250" data-aos-delay="100" data-aos-duration="1000">
							<div class="menu-block temp tanner">
								<img src="/images/icons/basic.png">
								<div class="desk">
									<div class="vcenter">
										<h2 class="title_header">exa.foundation</h2>
										<div class="time">Introducing our not-for-profit exa.foundation, running teacher CPD, code clubs and Computing events for students.</div>
									</div>
								</div>
								<a href="/exa-foundation/" class="arrow-btn theme-bg"><span class="btn-content">Meet exa.foundation</span> <span class="btn-icon"><i class="fa fa-angle-right"></i></span></a>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="breaker_three_top">
				<img src="/images/end-top-transition3-top.png">
			</div>
			{{ partial "contact.html" . }}
			{{ partial "footer.html" . }}
			{{ partial "js.html" . }}
	</body>
</html>
