{{ "<!-- CONTACT -->" | safeHTML }}

<style>
	label {
		padding: 0px;
	}
	.input-group-addon {
		 padding: 0 10px 0 0;
		 font-size: 14px;
		 font-weight: normal;
		 line-height: 1;
		 color: #555;
		 /*text-align: center;*/
		 background-color: #000;
		 border: 0px;
		 border-radius: 0px;
	}
  .form-group {
	margin-bottom: 4px;
  }
  .fa-footer {
  	color: #3d65ae;
  	font-size: 2em!important;
  }
  .page-footer {
  	    padding: 10px;
  }
  </style>
<section id="contact" style="padding: 12px 0 1px 0;z-index: 50; position: sticky; text-align:center">
	<div class="container">
		<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='/submitted/';}"></iframe>
<div class="col-xs-12 col-sm-6 col-md-3" style=" padding: 10px;">
	<div class="col-xs-12 contact_footer">
		<label for="name " style="color: #fff; font-size: 3em">Address</label>
		<p>100 Bolton Road<br>
		Bradford<br>
		BD1 4DE</p>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1178.263882603698!2d-1.7477706404386868!3d53.79789201657881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487be5b675765743%3A0x4a5cd41a4d38e1e2!2sExa+Networks!5e0!3m2!1sen!2suk!4v1520349695909" width="100%" height="250" style="border:10px solid #315390" allowfullscreen></iframe>
	</div>

</div>
<style type="text/css">
	#twitter-widget-0 {
  		height: 342px!important;
	}
	.timeline-Body {
		background-color: #3d65ae!important;
   		color: #fff!important;
	}
</style>
<div class="col-md-3 hidden-xs hidden-sm" style=" padding: 10px;">
	<div class="col-xs-12 contact_footer">
		<div class="col-lg-12">
			<label for="name " style="color: #fff; font-size: 3em">Twitter </label>
		</div>
		<div class="col-lg-12" style="padding:0">
			<a class="twitter-timeline" href="https://twitter.com/search?q=from:exanetworks OR from:exaeducation OR from:exafoundation" data-widget-id="970984251956056064">Tweets about from:exanetworks OR from:exaeducation OR from:exafoundation</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-6" style=" padding: 10px;">
	<div class="col-xs-12 contact_footer">
		<label for="name " style="color: #fff; font-size: 3em">Contact Us</label>
	</div>
	<form action="https://docs.google.com/forms/d/e/1FAIpQLSdyrl_FRtaftL8c4nhpc-bH9Cs7_d3N3VJrAsgtaQZ4wccleg/formResponse" method="post" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;" autocomplete="on" onsubmit="">
		<div class="col-xs-12 col-sm-6">
			<div class="form-group">
				<label for="name" style="color: #fff;">Contact Name</label> <span style="color: red;">*</span>
				<input name="entry.2096657246" type="text" class="form-control" id="name" required="">
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="form-group">
				<label for="business" style="color: #fff;">School Name</label> <span style="color: red;">*</span>
				<input name="entry.1194022307" type="text" class="form-control" id="business" required="">
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="form-group">
				<label for="address" style="color: #fff;">Contact Details</label> <span style="color: red;">*</span>
			<input type="text" name="entry.1918394962" class="form-control" id="address" required>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="form-group">
				<label for="city" style="color: #fff;">School Address</label> <span style="color: red;">*</span>
				<input name="entry.1474518468" type="text" class="form-control" id="city" required="">
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="form-group">
				<label for="postcode" style="color: #fff;">Message</label> <span style="color: red;">*</span>
				<input name="entry.661933075" type="text" class="form-control" id="postcode" required="">
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="form-group">
				<label for="capchta" style="color: #fff;">Security: 8 + 4 = ?</label> <span style="color: red;">*</span>
				<input name="entry.1605979204" type="text" class="form-control" id="capchta" required="">
			</div>
		</div>
	  <div class="col-xs-12">
	    <span style="color: red;">*</span> Required
	  </div>
		<div class="col-xs-12">
			<div class="form-group">
				<button type="submit" class="btn btn-primary col-xs-12" style="margin-bottom: 8px; color: #000; background-color: #fbbc20; margin-top: 25px; width: 100%">Submit</button>
	  		</div>
		</div>
		<div class="col-xs-12">
			<div class="form-group">
				<span class="alert alert-danger captcha-message hidden" style="padding: 4px;"><i class="fa fa-exclamation-triangle"></i> Sorry! Try again, or get in touch at 0345 145 1234.</span>
			</div>
	  	</div>
	</form>
</div>


	</div>
</section>
