		<link rel="stylesheet" href="{{ "css/creative.css" | absURL }}" type="text/css">
		<link rel="stylesheet" href="{{ "/css/poster.css" | absURL }}" type="text/css">

		<link href="https://fonts.googleapis.com/css?family=Lato|Lobster|Open+Sans|Rationale" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
		<link rel="shortcut icon" href="{{ .Site.Params.favicon | absURL }}">

		{{ "<!-- Bootstrap Core CSS -->" | safeHTML }}
		<!-- <link rel="stylesheet" href="{{ "/css/materialize.css" | absURL }}" type="text/css"> -->
		<link rel="stylesheet" href="{{ "/css/bootstrap.css" | absURL }}" type="text/css">
		<link rel="stylesheet" href="{{ "/css/board.css" | absURL }}" type="text/css">
		{{ "<!-- Custom Fonts -->" | safeHTML }}
		<!-- <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet"> -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">

		{{ "<!-- Plugin CSS -->" | safeHTML }}
		<link rel="stylesheet" href="{{ "css/animate.min.css" | absURL }}" type="text/css">
		{{ "<!-- Custom CSS -->" | safeHTML }}
		<link rel="stylesheet" href="/css/aos.css" type="text/css">
		<!-- <link rel="stylesheet" href="{{ "css/test.css" | absURL }}" type="text/css"> -->
		<link rel="stylesheet" href="{{ "css/modals.css" | absURL }}" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
		<link rel="stylesheet" href="/css/bootstrap-touch-slider.css" type="text/css">
		<link rel="stylesheet" href="{{ "/css/nav.css" | absURL }}" type="text/css">
		<script defer src="/js/fontawesome-all.js"></script>
