<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright" style="line-height:24px">Exa Education is part of <a href="https://exa.net.uk">Exa Networks Limited</a></span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="https://twitter.com/exanetworks"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/ExaNetworks/"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://www.linkedin.com/company/exa-networks"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
         <a href="https://exa.net.uk/about-contact/terms-policies/privacy/">Privacy |</a>
			   <a href="https://exa.net.uk/about-contact/terms-policies/terms-use/"> Disclaimer |</a>
			   <a href="https://exa.net.uk/about-contact/#company-info"> Information |</a>
			   <a href="https://exa.net.uk/about-contact/terms-policies/terms-conditions/"> Terms</a>
        </ul>
      </div>
    </div>
  </div>
</footer>
