<div id="navigation" class="navbar">
  <div class="basic-content">
    <button type="button" class="small-screen-only navbar-toggle collapsed" data-toggle="collapse" data-target="#site-content">
      <i class="fab fa-bars"/>
    </button>
    <a href="/" class="logo-link">
      <img src="/images/logo.png" alt="4SpeedConnectivity" class="logo"/>
    </a>
  </div>
  <div id="site-content" class="collapse navbar-collapsed">
    <li><a href="/test">test</a></li>
    <li><a href="/test">test</a></li>
  </div>
</div>

<style>
  .navbar {
    width: 100%;
    position: fixed;
    background-color: #000;
    color: #fff;
  }
  .logo {
    width:140px;
    float: left;
  }

</style>
